.container {
  width: 400px;
  height: 600px;
  background-color: #224460;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.display {
  width: 100%;
  height: 100px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
h1 {
  text-align: center;
}
h2 {
  padding: 25px;
  text-align: right;
  font-size: 45px;
}
.keyBoard {
  height: 100%;
  text-align: center;
}
button {
  width: 70px;
  height: 70px;
  margin: 12px;
  border-radius: 50%;
  border-width: 0;
  outline: none;
  font-size: 20px;
  font-weight: bold;
}
button:hover {
  cursor: pointer;
}
button:active {
  font-size: 19px;
}
